<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body class="container">

<header>
    <%- include('./partials/header') %>
</header>

<main>
    <div class="jumbotron">
            <h3>Information du vote</h3>
            <div class="form-group">
                    <label><h5>Sujet</h5></label>
                    <div>
                        <%=vote.subject%>
                        <br>
                    </div>
            </div>
            <form  id="form_vote" class="form" method="post" action="/votes/vote/<%=vote._id%>">
                <input type="hidden" name="voteid" value="<%=vote._id%>"/>
            <div class="form-group">
                    <label><h5>Choix</h5></label>
                    <%for(c of vote.choices){ var i=vote.choices.indexOf(c)%>
                    <div>
                        <input type="radio" class="choix" value="<%=c%>" name="choix" <% if(monchoix.choix==i){ %> selected <%}%> <%if(monchoix.length!=0){%> disabled <%}%>  >
                        <label for="choix"><%=c%></label>
                    </div>
                   <%}%>
            </div>
            <%if( monchoix.length==0){%>
              <button for="form_vote" type="submit" class="btn btn-primary"  >Voter</button>
           <%}%>
            </form>
    </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>

</body>
</html>