<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link <% if (type=="all") { %>active <% }%>" href="/dashboard/showall">tous les sujets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <% if (type=="mine") { %>active <% }%>" href="/dashboard/showmine">mes sujets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <% if (type=="part") { %>active <% }%>" href="/dashboard/part">mes
                  participations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <% if (type=="end") { %>active <% }%>" href="/dashboard/showend">vote terminé</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <% if (type=="progress") { %>active <% }%>" href="/dashboard/progress">vote en
                  cours</a>
              </li>
            </ul>
          </div>
      <% votes.forEach(function(vote) { %>
      <% if (vote.status == 'inprogress') { %>
      <div class="card" onclick="location.assign('/choix/<%= vote._id %>')">
        <% }else{ %>
          <div class="card" >
          <% } %>
          <div class="card-body">
            <p class="text-center"><b><%= vote.subject %></b> <br /> <small>By <% if (vote.createdBy != null) { %>
                <%= vote.createdBy.login %>
                <% } %></small></p>
            <p class="text-right"> <%= vote.participants.length %> / <%= vote.quota %> Participants ▶️</p>
            <div class="progress">
              <% var vot= vote.participants.length/vote.quota*100 %>
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%= vot %>%;"
                aria-valuenow="<%= vot %>" aria-valuemin="0" aria-valuemax="100"> <%= vot %>%</div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
<script>
$.ajax({
  url:"/votes/"+id,
  type:"PUT",
  headers: {"X-HTTP-Method-Override": "PUT"}
,success:function(msg){

if(msg=="OK"){
  $(".msg").show(100,"swing");
  $(".msg").html('<button type="button" id="validationpanier" class="btn btn-success">vous êtes bien inscris</button>');
  $(".msg").delay(4000).hide(50,"swing");
  $("#votes").load(" #votes > *")
}
}

})


</script>

</body>
</html>