<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>
    <h1>Ma liste</h1>
    <% votes.forEach(function(vote) { %>
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <p class="text-center"><b><%= vote.subject %></b> <br /> <small>By <%= vote.createdBy %></small></p>
          <p class="text-right"> <%= vote.participants.length %> / <%= vote.quota %> Participants ▶️</p>
          <div class="progress">
            <% var vot= vote.participants.length/vote.quota*100 %>
            <div class="progress-bar bg-warning" role="progressbar" style="width: <%= vot %>%;"
              aria-valuenow="<%= vot %>" aria-valuemin="0" aria-valuemax="100"> <%= vot %>%</div>
          </div>
        </div>
      </div><br />

    </div>
    <% }); %>

  </main>

  <footer>
    <% include partials/footer %>
  </footer>

  <% include partials/modals %>


</body>

</html>